
    <!doctype html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
      <head>
        <title>
          
        </title>
        <!--[if !mso]><!-- -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--<![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
          #outlook a { padding:0; }
          body { margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }
          table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }
          img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }
          p { display:block;margin:13px 0; }
        </style>
        <!--[if mso]>
        <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
        <!--[if lte mso 11]>
        <style type="text/css">
          .mj-outlook-group-fix { width:100% !important; }
        </style>
        <![endif]-->
        
        
    <style type="text/css">
      @media only screen and (min-width:480px) {
        .mj-column-per-100 { width:100% !important; max-width: 100%; }
.mj-column-per-50 { width:50% !important; max-width: 50%; }
      }
    </style>
    
  
        <style type="text/css">
        
        

    @media only screen and (max-width:480px) {
      table.mj-full-width-mobile { width: 100% !important; }
      td.mj-full-width-mobile { width: auto !important; }
    }
  
        </style>
        <style type="text/css">p, a, td {
         mso-line-height-rule: exactly;
         }
         sup { 
         line-height: normal;
         vertical-align: top;
         font-size: 60%;
         font-weight: normal;
         mso-text-raise: 30%;
         }
         @media (max-width:480px) {
         .mind-logo {
         text-align: left !important;
         padding-top: 10px !important;
         }
         }</style>
        
      </head>
      <body style="background-color:#f5f6f7;">
        
    <div style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
      ...
    </div>
  
        
      <div
         style="background-color:#f5f6f7;"
      >
        <!-- sender -->
      
      <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    
      
      <div  style="background:#5f646a;background-color:#5f646a;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#5f646a;background-color:#5f646a;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:650px;"
            >
          <![endif]-->
            
      <div
         class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            <tr>
              <td
                 align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color:#ffffff;">
         From: {{Allergan Aesthetics™ Rep email}}<br/>
         To: {{Healthcare Providers email address}}<br/>
         Subject Line 1: Thank you–follow-up materials enclosed<br/>
         Subject Line 2: Resources for your practice and your patients<br/>
         Subject Line 3: Allergan Aesthetics™ support tools for your practice and patients<br/>
         Subject Line 4: Checking in, helpful resources for your practice and patients




       </div>
    
              </td>
            </tr>
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
    
    <!-- header -->
      
      <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    
      
      <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:0;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:650px;"
            >
          <![endif]-->
            
      <div
         class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            <tr>
              <td
                 align="center" style="font-size:0px;padding:0;word-break:break-word;"
              >
                
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
      >
        <tbody>
          <tr>
            <td  style="width:650px;">
              
      <img
         alt="Juvederm" height="auto" src="images/banner.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="650"
      />
    
            </td>
          </tr>
        </tbody>
      </table>
    
              </td>
            </tr>
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
    
    <!-- Email -->
      
      <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->





       <div  style="background:#dedede;background-color:#dedede;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#dedede;background-color:#dedede;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:10px;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:650px;"
            >
          <![endif]-->
            
      <div
         class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            <tr>
              <td
                 align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color:#333333;">
       Please see JUVEDÉRM<sup>®</sup> Collection <a href="#" target="_blank">Indications and Important Safety Information</a>. See the following links for JUVEDÉRM<sup>®</sup> Collection Directions for Use:  <a href="#">JUVEDÉRM</a><sup style="letter-spacing:-8px;color:#0000EE;">&reg;</sup><a href="#"><span style="letter-spacing:5px;">&nbsp;</span></a><a href="#">VOLUMA</a><a href="#"></a><sup style="letter-spacing:-8px;color:#0000EE;">&trade;</sup><a href="#"><span style="letter-spacing:5px;">&nbsp;</span>XC</a>, <a href="#">JUVEDÉRM</a><sup style="letter-spacing:-8px;color:#0000EE;">&reg;</sup><a href="#"><span style="letter-spacing:5px;">&nbsp;</span></a><a href="#">VOLLURE</a><a href="#"></a><sup style="letter-spacing:-8px;color:#0000EE;">&trade;</sup><a href="#"><span style="letter-spacing:5px;">&nbsp;</span>XC</a>, <a href="#">JUVEDÉRM</a><sup style="letter-spacing:-8px;color:#0000EE;">&reg;</sup><a href="#"><span style="letter-spacing:5px;">&nbsp;</span></a><a href="#">VOLBELLA</a><a href="#"></a><sup style="letter-spacing:-8px;color:#0000EE;">&trade;</sup><a href="#"><span style="letter-spacing:5px;">&nbsp;</span>XC</a>, <a href="#">JUVEDÉRM</a><sup style="letter-spacing:-8px;color:#0000EE;">&reg;</sup><a href="#"><span style="letter-spacing:5px;">&nbsp;</span>Ultra Plus XC</a> and <a href="#">JUVEDÉRM</a><sup style="letter-spacing:-8px;color:#0000EE;">&reg;</sup><a href="#"><span style="letter-spacing:5px;">&nbsp;</span>Ultra XC</a>.
      


      
      

      



<br/><br/>








     </div>
    
              </td>
            </tr>
          
            
          
          
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>








    
      
      <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:10px;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:650px;"
            >
          <![endif]-->
            
      <div
         class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            <tr>
              <td
                 align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color:#333333;"
      >Dear {{Account Name]}{{customText[, MD:|, DO:|, NP:|, PA:|, OD:|, RN:|, PharmD:|, PhD:|,|]}} </div>
    
              </td>
            </tr>
          
            <tr>
              <td
                 align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color:#333333;"
      >
    <strong><i>Body content option 1</i></strong>
    <br/>

Thank you for your time. I’ve included links to resources that you may find helpful for your practice and your patients.
<br/><br/>



<strong><i>Body content option 2</i></strong>
<br/>
Sorry I missed you. I’ve included links to resources that you may find helpful for your practice and your patients.
<br/><br/>
<strong><i>Body content option 3</i></strong>
<br/>
Here is some information that you may find helpful for your practice and your patients.
<br/><br/>

Please let me know how I can be of further support.
<br/><br/>

  </div>
    
              </td>
            </tr>
          
            
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
    
    <!-- bullets -->
      
      <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    
      
   
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
    
    <!-- Email -->
      
      <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    
      
         <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:0;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:650px;"
            >
          <![endif]-->
            
      <div
         class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            <tr>
              <td
                 align="center" style="font-size:0px;padding:0;word-break:break-word;"
              >
                
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
      >
        <tbody>
          <tr>
            <td  style="width:650px;">
              
      <img
         alt="Juvederm" height="auto" src="images/pbox.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="650"
      />
    
            </td>
          </tr>
        </tbody>
      </table>
    
              </td>
            </tr>
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
    
    <!-- Sign off -->
      
      <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    
      
      <div  style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:0;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:650px;"
            >
          <![endif]-->
            
      <div
         class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            <tr>
              <td
                 align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color:#333333;"
      >Sincerely,
      <br/>
      <br/>
Your Allergan Aesthetics<sup>&trade;</sup> Representative
<br/><br/>
{{userName}}<br/>
{{userPhoto}}<br/>
{{userEmailAddress}}<br/>
{{User.MobilePhone}}

</div>
    
              </td>
            </tr>


            <tr>
              <td
                 align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color:#333333;">
          <img
         alt="Juvederm" src="images/allergan-blk.png" style="border:0;display:block;outline:none;text-decoration:none;width:168px;" 
      />

</div>
    
              </td>
            </tr>

            <tr>
              <td
                 align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color:#333333;">
         <span style="font-weight:bold;color:#3d1152;">INDICATIONS</span>
<br/>
JUVÉDERM<sup>®</sup> VOLUMA™ XC injectable gel is indicated for deep (subcutaneous and/or supraperiosteal) injection for cheek augmentation to correct age-related volume deficit in the mid-face in adults over the age of 21.
<br/><br/>
JUVÉDERM<sup>®</sup> VOLLURE<sup>TM</sup> XC injectable gel is indicated for injection into the mid-to-deep dermis for correction of moderate to severe facial wrinkles and folds (such as nasolabial folds) in adults over the age of 21.
<br/><br/>
JUVÉDERM<sup>®</sup> Ultra Plus XC and JUVÉDERM<sup>®</sup> Ultra XC injectable gels are indicated for injection into the mid-to-deep dermis for correction of moderate to severe facial wrinkles and folds (such as nasolabial folds).
<br/><br/>
JUVÉDERM<sup>®</sup> VOLBELLA<sup>TM</sup> XC injectable gel is indicated for injection into the lips for lip augmentation and for correction of perioral rhytids in adults over the age of 21.
<br/><br/>
JUVÉDERM<sup>®</sup> Ultra XC injectable gel is indicated for injection into the lips and perioral area for lip augmentation in adults over the age of 21.
<br/><br/>
<span style="font-weight:bold;color:#3d1152;">IMPORTANT SAFETY INFORMATION</span>
<br/><br/>
<span style="font-weight:bold;color:#3d1152;">CONTRAINDICATIONS</span>
<br/>
These products should not be used in patients who have severe allergies, marked by a history of anaphylaxis or history or presence of multiple severe allergies, and should not be used in patients with a history of allergies to Gram-positive bacterial proteins or lidocaine contained in these products.
<br/><br/>
<span style="font-weight:bold;color:#3d1152;">WARNINGS</span>
<ul style="padding-left:15px;line-height:16px;margin:0px;">
  <li>Do not inject into blood vessels. Introduction of these products into the vasculature may lead to 
embolization, occlusion of the vessels, ischemia, or infarction. Take extra care when injecting soft-tissue fillers; for example, inject the product slowly and apply the least amount of pressure necessary. Rare, but serious, adverse events associated with the intravascular injection of soft-tissue fillers in the face have been reported and include temporary or permanent vision impairment, blindness, cerebral ischemia or cerebral hemorrhage leading to stroke, skin necrosis, and damage to underlying facial structures. Immediately stop the injection if a patient exhibits any of the following symptoms: changes in vision, signs of a stroke, blanching of the skin, unusual pain during or shortly after the procedure. Patients should receive prompt medical attention and, possibly, evaluation by an appropriate healthcare professional specialist should an intravascular injection occur </li>
<li>Product use at specific sites in which an active inflammatory process (skin eruptions such as cysts, 
pimples, rashes, or hives) or infection is present should be deferred until the underlying process has been controlled </li>
</ul> 
<br/>
<span style="font-weight:bold;color:#3d1152;">PRECAUTIONS</span>
<ul style="padding-left:15px;line-height:16px;margin:0px;">
  <li>To minimize the risk of potential complications, these products should only be used by healthcare 
professionals who have appropriate training, experience, and knowledge of facial anatomy</li>
<li>Healthcare professionals are encouraged to discuss the potential risks of soft-tissue injections with their 
patients prior to treatment and ensure that patients are aware of signs and symptoms of potential complications</li>
<li>The safety and effectiveness for the treatment of anatomic regions other than the mid-face with 
JUVÉDERM<sup>®</sup> VOLUMA™ XC; facial wrinkles and folds with JUVÉDERM<sup>®</sup> Ultra XC, JUVÉDERM<sup>®</sup> Ultra Plus XC, and JUVÉDERM<sup>®</sup> VOLLURE<sup>TM</sup> XC; and the lips and perioral area with JUVÉDERM<sup>®</sup> Ultra XC and JUVÉDERM<sup>®</sup> VOLBELLA<sup>TM</sup> XC have not been established in controlled clinical studies</li>
<li>As with all transcutaneous procedures, dermal filler implantation carries a risk of infection. Follow 
standard precautions associated with injectable materials</li>
<li>The safety for use during pregnancy, in breastfeeding females, and in patients with known susceptibility 
to keloid formation, hypertrophic scarring, and pigmentation disorders has not been studied</li>
<li>The safety for use of JUVÉDERM<sup>®</sup> VOLUMA<sup>TM</sup> XC in patients under 35 or over 65 years, JUVÉDERM<sup>®</sup> 
Ultra XC and JUVÉDERM<sup>®</sup> Ultra Plus XC in patients under 18 years, and JUVÉDERM<sup>®</sup> VOLLURE<sup>TM</sup> XC and JUVÉDERM<sup>®</sup> VOLBELLA<sup>TM</sup> XC in patients under 22 years has not been established</li>
<li>Use with caution in patients on immunosuppressive therapy</li>
<li>Patients who are using products that can prolong bleeding (such as aspirin, nonsteroidal 
anti-inflammatory drugs, and warfarin) may experience increased bruising or bleeding at treatment sites </li>
<li>If laser treatment, chemical peel, or any other procedure based on active dermal response is considered 
after treatment, or if these products are administered before the skin has healed completely, there is a possible risk of an inflammatory reaction at the treatment site</li>
<li>Patients who experience skin injury near the site of implantation may be at a higher risk for adverse 
events</li>
<li>The safety of JUVÉDERM<sup>®</sup> VOLUMA<sup>TM</sup> XC injectable gel for use in patients with very thin skin in the 
mid-face and Fitzpatrick Skin Types V and VI has not been established</li>
<li>Patients may experience late onset nodules with use of dermal fillers including JUVÉDERM<sup>®</sup> 
VOLUMA<sup>TM</sup> XC</li>
<li>Patients may experience late onset adverse events with use of dermal fillers</li>

</ul> 
<br/>
<span style="font-weight:bold;color:#3d1152;">ADVERSE EVENTS</span>
<br/>
The most commonly reported side effects for JUVÉDERM<sup>®</sup> injectable gels were injection-site redness, swelling, pain, tenderness, firmness, lumps/bumps, bruising, discoloration, and itching. For JUVÉDERM<sup>®</sup> VOLBELLA<sup>TM</sup> XC, dryness was also reported. For JUVÉDERM<sup>®</sup> VOLUMA™ XC, side effects were predominantly moderate in severity, with duration of 2 to 4 weeks; for JUVÉDERM<sup>®</sup> Ultra XC, JUVÉDERM<sup>®</sup> Ultra Plus XC, or JUVÉDERM<sup>®</sup> VOLLURE<sup>TM</sup> XC, they were mostly mild or moderate in severity, with duration of 14 days or less; and for JUVÉDERM<sup>®</sup> VOLBELLA<sup>TM</sup> XC, they were predominantly mild or moderate, with duration of 30 days or less. 
<br/><br/>
<strong>
To report an adverse reaction with any product in the JUVÉDERM<sup>®</sup> Collection, please call Allergan at 1-800-433-8871. Please visit JuvedermDFU.com for more information.
</strong>
<br/><br/>
Products in the JUVÉDERM<sup>®</sup> Collection are available by prescription only.
<br/><br/>

</div>
    
              </td>
            </tr>
          
           
           
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
    
    <!-- footer -->
      
      <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    
      
      <div  style="background:#c511bb;background-color:#c511bb;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#c511bb;background-color:#c511bb;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:20px 0 0;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:650px;"
            >
          <![endif]-->
            
      
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->









       <div  style="background:#c511bb;background-color:#c511bb;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#c511bb;background-color:#c511bb;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:10px 25px 25px;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:300px;"
            >
          <![endif]-->
            
      <div
         class="mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            <tr>
              <td
                 align="left" style="font-size:0px;padding:0;word-break:break-word;"
              >
                
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
      >
        <tbody>
          <tr>
            <td  style="width:172px;padding-bottom:20px;">
              
        <a
           href="https://www.allergan.com/home" target="_blank"
        >
          
      <img
         alt="Allergan" height="auto" src="images/allergan-w.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="172"
      />
    
        </a>
      
            </td>
          </tr>
        </tbody>
      </table>
    
              </td>
            </tr>
          
            <tr>
              <td
                 align="left" style="font-size:0px;padding:0px;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;text-align:left;color:#ffffff;">
         © 2020 Allergan. All rights reserved. All trademarks are the property of their respective owners. Allergan, 2525 Dupont Drive, Irvine, CA 92612. <a href="" target="_blank" style="color: #ffffff;font-weight: bold;">hcp.juvederm.com/</a> 
       <br/>
       JUV115817-v3  07/20 006612 SOLICITATION 
       </div>
    
              </td>
            </tr>
          
            
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
            <td
               class="" style="vertical-align:top;width:300px;"
            >
          <![endif]-->
            
      <div
         class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            <tr>
              <td
                 align="right" class="mind-logo" style="font-size:0px;padding:0;word-break:break-word;"
              >
                
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
      >
        <tbody>
          <tr>
            <td  style="width:71px;">
              
      
    
            </td>
          </tr>
        </tbody>
      </table>
    
              </td>
            </tr>
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>







    
      
      <div  style="background:#c511bb;background-color:#c511bb;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#c511bb;background-color:#c511bb;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:5px 25px 25px;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:600px;"
            >
          <![endif]-->
            
      <div
         class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
      >
        <tbody>
          <tr>
            <td  style="border:1px solid #ffffff;;vertical-align:top;padding:0;">
              
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%"
      >
        
            <tr>
              <td
                 align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;"
              >
                
      <div
         style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;text-align:left;color:#ffffff;"
      >If you no longer wish to receive emails from Allergan Aesthetics<sup>&trade;</sup> and JUVÉDERM<sup>®</sup> products and services, please <a href="#" style="color:#ffffff;" target="_blank">click here</a> to unsubscribe.</div>

    
              </td>
            </tr>
          
      </table>
    
            </td>
          </tr>
        </tbody>
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:650px;" width="650"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    
      
      <div  style="background:#c511bb;background-color:#c511bb;margin:0px auto;max-width:650px;">
        
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#c511bb;background-color:#c511bb;width:100%;"
        >
          <tbody>
            <tr>
              <td
                 style="direction:ltr;font-size:0px;padding:10px 25px 25px;text-align:center;"
              >
                <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>
      
            <td
               class="" style="vertical-align:top;width:300px;"
            >
          <![endif]-->
            
      <div
         class="mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
      >
        
      <table
         border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
      >
        
            
          
           
          
            <tr>
              <td
                 align="left" style="padding:0px 0 0;word-break:break-word;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;text-align:left;color:#ffffff;">
                
      
       This email, including any attachments, is meant only for the intended recipient and may be confidential communication or a communication privileged by law. Please notify the sender immediately of the error by return email and please delete this message from your system. Thank you in advance for your cooperation.

       <br/> <br/>
       <div style="text-align:center;"> <a href="https://www.allergan.com/us-privacy" target="_blank" style="color: #ffffff;">Privacy Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.allergan.com/privacy-and-terms/ccpa" target="_blank" style="color: #ffffff;">California Privacy Policy</a></div>
<br/>
    
              </td>
            </tr>
          
      </table>
    
      </div>
    
          <!--[if mso | IE]>
            </td>
          
            <td
               class="" style="vertical-align:top;width:300px;"
            >
          <![endif]-->
            
      
    
          <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    
      
      <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
    
    
      </div>
    
      </body>
    </html>
  